{% extends 'base.html' %}
{% block content %}

{% block title %}
<title>{{ author.username }}'s blog</title>
{% endblock title %}


<div class="col-12 mb-5">

    <div class="col-12 mb-5">
        {% if author != user %}

        <h1 class="mb-3">{{ author.username }}'s blog</h1>

        {% if author in subscriptions %}
        <a href="{% url 'subscription' user_pk=author.pk %}" class="btn btn-info z-depth-0 text-capitalize">Отписаться</a>
        {% else %}
        <a href="{% url 'subscription' user_pk=author.pk %}" class="btn btn-success z-depth-0 text-capitalize">Подписаться</a>
        {% endif %}

        {% else %}

        <h1 class="mb-5">My blog</h1>

        <div class="col-12 mb-5 px-0">
            <div class="card ">
                <div class="card-body">
                    <h4 class="card-title">New post</h4>
                    <form method="post" action="{%url 'blog' user_name=user.username %}">
                        {% csrf_token %}

                        <div class="md-form form-sm">
                            {{ form.title }}
                            <label class="pl-2" for="InputTitle">Заголовок</label>
                        </div>

                        <div class="md-form form-sm">
                            {{ form.text }}
                            <label class="pl-2" for="InputText">Текст</label>
                        </div>

                        <br>
                        <div>
                            <input type="submit" value="Опубликовать">
                        </div>
                    </form>
                </div>
            </div>
        </div>



        {% endif %}
    </div>

    {% for post in posts %}

    <div class="col-12 mb-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="h5 text-muted mb-5">{{ post.text }}</p>
                <p class="card-text">{{ post.created }}</p>
            </div>
        </div>
    </div>

    {% endfor %}

    {% endblock %}
</div>